

/* font style*/
.azeret-mono {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* banner style*/
nav{
    display: flex;
    gap: 50%;
    justify-content: center;
    padding-top: 35px;
    padding-bottom: 35px;
}

