
*{
    margin: 0;
    padding: 0;
}
/* font style*/
.azeret-mono {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* mixed style */
button{
    font-size: 20px;
    padding: 17px 24px;
    border: black 2px solid;
    border-radius: 8px;
    cursor: pointer;
    background-color: white;
}
.btn-primary{
    color: white;
    font-size: 20px;
    padding: 17px 24px;
    background-color: black;

}

/* navigation style*/
nav{
    display: flex;
    gap: 50%;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
}

/* main style */


/* banner style */
#banner-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 26px 230px 90px 230px;
}
.banner-content{
    text-align: center;
}
.banner-title{
    font-size: 35px;
    margin: 24px 0px;
}
.banner-description{
    margin: 24px 0px;
}

main{
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#experience{
    margin: 75px 100px;
    padding: 57px 69px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}
.experience-container{
    display: flex;
    flex-direction: column;
    padding: 80px 97px;
    text-align: center;
}
.experience-content-sub{
    display: flex;
    gap: 100px;
    margin: 16px 0px;
    padding: 48px;
    border-radius: 16px;
    align-items: center;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.experience-content-sub-plus{
    display: flex;
    gap: 100px;
    margin: 16px 0px;
    padding: 48px;
    border-radius: 16px;
    align-items: center;
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.experience-title{
    font-size: 32px;
    margin-bottom: 8px;
}
.experience-description{
    font-size: 16px;
    margin-top: 8px;

}
.experience-content-title{
    font-size: 22px;
    font-weight: bolder;
    margin-bottom: 16px;
}
.experience-content-description{
    font-size: 14px;
    margin-bottom: 16px;
}
.experience-btn{
    border: 1px solid black;
    border-radius: 0px;
}

/* inspiration style */
#inspiration{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inspiration-content{
    width: 800px;
    height: 440px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 16px;
    justify-content: center;
    text-align: center;
}

/* target section style */
#target{
    padding: 64px 48px;
    background-image: url(/assets/handshake.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),url(Email);
}
.target-container{
    display: flex;
    gap: 24px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.target-content{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.target-content-one{
    width: 364px;
    padding: 40px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}
.target-content-two{
    width: 364px;
    padding: 40px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}
.target-content-three{
    width: 364px;
    padding: 40px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}
.target-content-title{
    font-size: 24px;
    margin: 16px 0px;
}
.target-content-description{
    margin: 16px 0px;
}
.target-content-url{
    font-weight: bold;
}

/* contact style */
#contact{
    width: 1440px;
    margin: 75px 100px;
    padding: 57px 69px;
    display: flex;
    width: 1140px;
    padding: 75px 100px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: url(/assets/handshake.jpg) rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
}
.contact-title{
    color: white;
}
.contact-description{
    color: white;
}

/* footer style */
footer{
    display: flex;
    gap: 50%;
    padding: 32px 150px;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
}

.input-style{
    width: 443px;
    background-color: white;
    margin: 16px;
    padding: 24px;
}